---
import uniqueId from 'lodash.uniqueid';
import type { HeadingTag } from '@/types/';

interface Props {
  /** アコーディオン開閉時のduration(ms) */
  duration?: number;
  headingTag?: HeadingTag;
  /** id属性に付与するprefix名。例：prefix="faq" id="faq-trigger-1" */
  prefix?: string;
  /** trueにすると最初からアコーディオンが開いた状態になる */
  open?: boolean;
  class?: string;
}

const {
  duration = 500,
  headingTag: Tag = 'h3',
  prefix = 'collapse',
  open = false,
  class: className,
} = Astro.props;

// ユニークID取得
const collapseId: string = uniqueId();
// trigger Elementに付与するid属性
const triggerId = `${prefix}-trigger-${collapseId}`;
// content Elementに付与するid属性
const contentId = `${prefix}-content-${collapseId}`;
---

<div class:list={[className, 'relative']} x-data={`collapse(${open})`}>
  <Tag>
    <button
      type="button"
      id={triggerId}
      @click="toggle"
      :aria-expanded="expanded"
      aria-controls={contentId}
    >
      <slot name="header" />
    </button>
  </Tag>
  <div
    id={contentId}
    aria-labelledby={triggerId}
    x-show="expanded"
    {...{ [`x-collapse.duration.${duration}ms`]: '' }}
  >
    <slot name="contents" />
  </div>
</div>

<script>
  import Alpine from 'alpinejs';

  Alpine.data('collapse', (open: boolean) => {
    return {
      expanded: open,
      toggle() {
        this.expanded = !this.expanded;
      },
    };
  });
</script>
